<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/OurStyles.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <a style="color: azure; font-size: 30px;" asp-controller="Home" asp-action="Index">Home|</a>
        <a style="color: azure; font-size: 30px; " asp-controller="Home" asp-action="Task">Add a Task</a>
    </nav>
    <br /><br />

    <div>
        @RenderBody()
    </div>

</body>
</html>
