@{
    ViewData["Title"] = "Add/Edit Task";
}
<h1>@ViewData["Title"]</h1>

@model Mission6.Models.Task;

<form method="post">
    <fieldset style="border-radius: 10px;">

        <div asp-validation-summary="All"></div> <!--Makes it so validation pops up-->

        <label for="task" asp-for="TaskName">Task</label>
        <input type="text" id="task" asp-for="TaskName"><br><br>

        <label for="date" asp-for="DueDate">Due Date</label>
        <input type="number" id="date" asp-for="DueDate"><br><br>

        <label for="quadrant" asp-for="Quadrant">Quadrant</label>
        <select id="quadrant" asp-for="Quadrant">
            <!--Include a dropdown menu for Quadrant-->
            <option value="one">1 (Important/Urgent)</option>
            <option value="two">2 (Important/Not Urgent)</option>
            <option value="three">3 (Not Important/Urgent)</option>
            <option value="four">4 (Not Important/Not Urgent)</option>
        </select><br><br>

        <label asp-for="CategoryId">Category</label><!--asp-for commands allow connection to my models-->
        <select asp-for="CategoryId">
            <option value="">Select a Movie Category</option>
            @foreach (Category c in ViewBag.Category) //make loop
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br /><br />

        <label for="edit" asp-for="Completed">Completed</label>
        <select id="edit" asp-for="Completed">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br><br>

    </fieldset>
    </form>
